body {
    background-color: gray;
    margin: 5vh 5vw;
}

h1 {
    margin: 0 auto;
    text-align: center;
    width: 90vw;
    padding: 0.5vh;
    font-size: 4vh;
}

.userInput {
    background-color: darkgray;
    border: 1px solid black;
    display: flex;
    width: 90vw;
    padding: 1vh 0.5vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 1vh;
}

.gridInput {
    display: flex;
    font-size: 2.5vh;
    gap: 2vw;
    padding: 0 3vw;
}

.gridInput label {
    font-size: 2.5vh;
    display: block;
    align-self: center;
}

.gridInput input {
    width: 10vh;
    font-size: 2.5vh;
}

.userInput button {
    margin-right: 3vw;
    padding: 0 3vw;
    font-size: 2.5vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    width: 90vw;
    height: 77vh;
    justify-content: center;
    padding: 0.5vh;
}

.row {
    display: flex;
    flex-direction: row;
    height: 10%;
}

.column {
    margin: 1px 0;
    background-color: white;
    width: 100%;
    border: 1px solid lightgray;
    margin: 0;
}
