body {
    background-color: gray;
    margin: 5vh 5vw;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    width: 90vw;
    height: 90vh;
    justify-content: flex-end;
    padding: 0.5vh
}

.row {
    display: flex;
    flex-direction: row;
    height: 10%;
    margin: 0 1px;
}

.column {
    margin: 1px 0;
    background-color: white;
    width: 90%;
    margin: 0.5vh;
}
